@model InternshipManagementSystem.Models.EditOrAddContractViewModel

@{
    string onSuccess = "ContractSubmitEndLoading(&quot;" + (ViewData["editContractNo"].ToString() != "createContract" ? ViewData["editContractNo"].ToString() : "addNewContract") + "&quot;)";
    string onStart = "ContractSubmitStartLoading(\"" + (ViewData["editContractNo"].ToString() != "createContract" ? ViewData["editContractNo"].ToString() : "addNewContract") + "\")";
    var anchorId = ViewData["editContractNo"] + "DisplayTabContent";
}

<div class="panel-heading">
    @if (ViewData["editContractNo"].ToString() != "createContract")
    {
        <span>Edit the contract with <strong>@Model.contract.CompanyName</strong>&nbsp;</span>
        <a href="#@anchorId" data-toggle="tab" class="cancelLabelAnchor">
            <span class="label label-default cancelLabel">
                Cancel
            </span>
        </a>
    }
    else
    {
        <span>Add new contract</span>
    }
    &nbsp;
</div>
<div class="panel-body" id="@ViewData["editContractNo"]">
    @using (Html.BeginForm("EditOrAddContract", "Teacher", null, FormMethod.Post, new { @class = "form-horizontal ", role = "form", onsubmit = onStart }))
    {
        @Html.AntiForgeryToken()
        <table class="table">
            <tbody>
                <tr>
                    <td class="col-xs-3"><strong>Choose company</strong></td>
                    <td class="col-xs-9">
                        @if (ViewData["editContractNo"].ToString() == "createContract")
                        {
                            foreach (var company in Model.allCompanies)
                            {
                                if (!Model.classes.Any(c => (from relatedClasses in company.Class_ select relatedClasses.ClassName).Any(rc => rc == c.ClassName)))
                                {
                                    <label class="radio-inline">
                                        <input type="radio" Value="@company.CompanyName" name="company" />
                                        @company.CompanyName
                                    </label>
                                }
                            }
                        }
                        else
                        {
                            foreach (var company in Model.allCompanies)
                            {
                                    if (company.CompanyName == Model.contract.CompanyName && Model.contract.CompanyName != null)
                                    {
                                        <span>@company.CompanyName</span>
                                        <input type="hidden" Value="@company.CompanyName" name="company" />
                                }
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <td class="col-xs-3"><strong>Internship Location</strong></td>
                    <td class="col-xs-9">@Html.TextBoxFor(m => m.contract.InternLocation, new { @class = "form-control" })</td>
                </tr>
                <tr>
                    <td class="col-xs-3"><strong>Starting Date</strong></td>
                    <td class="col-xs-9">
                        @if (!DateTime.Equals(Model.contract.StartTime, new DateTime()))
                {
                            @Html.TextBoxFor(m => m.contract.StartTime, new { id = ViewData["editContractNo"] + "StartDateInput", @class = "form-control datePicker", Value = Model.contract.StartTime.ToString("yyyy-MM-dd") })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.contract.StartTime, new { id = ViewData["editContractNo"] + "StartDateInput", @class = "form-control datePicker", Value = DateTime.Now.ToString("yyyy-MM-dd") })
                        }
                    </td>
                </tr>
                <tr>
                    <td class="col-xs-3"><strong>Ending Date</strong></td>
                    <td class="col-xs-9">
                        @if (!DateTime.Equals(Model.contract.EndTime, new DateTime()))
                {
                            @Html.TextBoxFor(m => m.contract.EndTime, new { id = ViewData["editContractNo"] + "EndDateInput", @class = "form-control datePicker", Value = Model.contract.EndTime.ToString("yyyy-MM-dd") })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.contract.EndTime, new { id = ViewData["editContractNo"] + "EndDateInput", @class = "form-control datePicker", Value = DateTime.Now.ToString("yyyy-MM-dd") })
                        }
                    </td>
                </tr>
                <tr>
                    <td class="col-xs-3"><strong>Class</strong></td>
                    <td class="col-xs-9">
                        @if (ViewData["editContractNo"].ToString() == "createContract")
                        {
                            foreach (var c in Model.classes)
                            {
                                if (c.CompanyName == null)
                                {
                                    <label class="checkbox-inline"><input type="checkbox" Value="@c.ClassName" name="Classes">@c.ClassName</label>
                                }
                            }
                        }
                        else
                        {
                            foreach (var c in Model.classes)
                            {
                                if (c.CompanyName == Model.contract.CompanyName && c.CompanyName != null)
                                {
                                    <span>@c.ClassName</span>
                                    <input type="hidden" Value="@c.ClassName" name="Classes" />
                                }
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <td class="col-xs-3"><strong>Contract Content</strong></td>
                    <td class="col-xs-9">
                        @Html.TextAreaFor(m => m.contract.ContractContent, new { @class = "form-control", rows = "10" })
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td></td>
                    <td class="col-xs-9">
                        <input type="submit" class="btn btn-default submitButton" style="margin-top: 10px" value="Submit" />&nbsp;
                        <img class="fakeLoader" src="~/Picture/loading.gif" style="margin-top: -19px" />
                        <span class="alert alert-danger failingAlert">Upload failed</span>
                    </td>
                </tr>
            </tbody>
        </table>
    }
</div>
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.11.4.js"></script>