@model InternshipManagementSystem.Models.ForTeacherViewModel

<h3>Assessment for student</h3>
<hr />
<div class="container">
    @if (Model.Students.Count() != 0)
    {
        using (Ajax.BeginForm("MarkStudent", "Teacher", null, new AjaxOptions { UpdateTargetId = "viewStudentInfo", HttpMethod = "POST", OnSuccess = "StudentMarkEndLoading", OnBegin="StudentMarkStartLoading"}, new { @class = "form-horizontal ", role = "form" }))
        {
            <div class="tab-content">
                <div id="viewStudentInfo" class="tab-pane fade in active table-responsive">
                    @Html.Partial("_MarkedStudentInfo", Model)
                </div>
                <div id="markStudent" class="tab-pane fade table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Class</th>
                                <th>Student Name</th>
                                <th>Phone Number</th>
                                <th>Grade (Given by teacher)</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var c in Model.Classes)
                            {
                                int rowCounter = 1;
                                foreach (var s in c.Students)
                                {
                                    <tr>
                                        @if (rowCounter == 1)
                                        {
                                            <td rowspan="@c.NumberOfStudents">@c.ClassName</td>
                                            rowCounter++;
                                        }
                                        <td>@s.StudentName</td>
                                        <td>@s.PhoneNumber</td>
                                        @if (s.TeacherMark != null)
                                        {
                                            <td><input class="form-control" value="@s.TeacherMark" name="teacherMark" type="number" max="50" min="0"></td>
                                        }
                                        else
                                        {
                                            <td><input class="form-control" value="" name="teacherMark" type="number" max="50" min="0"></td>
                                        }
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
            <div id="markingStudentButtons" class="col-md-offset-2 col-md-10 form-group">
                <span>Mark the students?</span>
                <button id="submitButtonForMarkingStudent" type="button" class="btn btn-primary" data-toggle="tab" href="#markStudent" onclick="MarkNowHandler()">Mark now</button>
                <input type="submit" class="hiddenButton btn btn-success submitButton" value="submit"  />&nbsp;&nbsp;
                <img class="fakeLoader" src="~/Picture/loading.gif" />&nbsp;&nbsp;
                <button type="button" id="cancelButton" class="hiddenButton btn btn-danger submitButton" data-toggle="tab" href="#viewStudentInfo" onclick="CancelHandler()">取消</button>
            </div>
        }
    }
    else
    {
        <span class="alert alert-info">您还未上传相关学生信息</span>
    }
</div>
