@model InternshipManagementSystem.Models.ForTeacherViewModel
@{
    ViewBag.Title = "ForTeacher";
}
<br />
<br />
<h2>ForTeacher</h2>
<div class="container">
    <h3>Upload students </h3>
    <hr />
    <div class="container">
        <h3>Upload Students information</h3>
        <div id="uploadStudentInfo" class="col-lg-12">
            @Html.Partial("_UploadStudentInfo")
        </div>
    </div>
    @if (Model.Students != null)
    {
        <div class="container">
            <h3>Assessment for student</h3>
            <hr />
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Class</th>
                        <th>Student Name</th>
                        <th>Phone Number</th>
                        <th>Grade (Given by teacher)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var c in Model.Classes)
                    {
                        int rowCounter = 1;
                        foreach (var s in c.Students)
                        {
                            <tr>
                                @if (rowCounter == 1)
                                {
                                    <td rowspan="@c.NumberOfStudents">@c.ClassName</td>
                                    rowCounter++;
                                }
                                <td>@s.StudentName</td>
                                <td>@s.PhoneNumber</td>
                                @if (s.TeacherMark == null)
                                {
                                    <td>HNMY</td>
                                }
                                else
                                {
                                    <td>@s.TeacherMark</td>
                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    }

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
