<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/isLoading.js"></script>
    <link href="~/Content/site.css?version=2" rel="stylesheet" />
    <script src="~/Scripts/site.js?v=2"></script>
</head>
<body>
    <div class="overlay">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("公司一览", "CompanyIntroduction", "Home")</li>
                    <li>@Html.ActionLink("Ct", "Contact", "Home")</li>
                    <li>@Html.ActionLink("查看成绩", "Grade", "Home")</li>
                    @{
                        if (User.IsInRole("teacher"))
                        {
                            <li>@Html.ActionLink("Teacher", "ForTeacher", "Teacher")</li>
                        }
                        if (User.IsInRole("company"))
                        {

                            <li>@Html.ActionLink("Company", "ForCompany", "Company")</li>
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content col-lg-12">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
        </div>
</body>
</html>
