@model InternshipManagementSystem.Models.Company
<div class="modalOverlay"></div>
@{
    if (Model != null)
    {
        <h3>@Model.CompanyName</h3>
                    <hr />
                    <h3>
                        公司介绍
                    </h3>
                    <pre>@Model.CompanyIntroduction</pre>
                    <h3>实习内容</h3>
                    <pre>@Model.InternIntroduction</pre>
                    <h3>实习地址</h3>
                    <p>@Model.CompanyLocation</p>
                    <h3>负责人</h3>
                    <p>@Model.PersonInCharge</p>
                    <h3>联系方式</h3>
                    <p>@Model.ContactNumber</p>
    }
    else
    {
        <div class="alert alert-info">
            <strong>暂时没有公司信息和实习介绍</strong>
        </div>
    }

}