@model InternshipManagementSystem.Models.Company
<div class="modalOverlay"></div>
@{
    if (Model != null)
    {
        <h3>@Html.Raw(Model.CompanyName)</h3>
                                    <hr />
                                    <h3>
                                        公司介绍
                                    </h3>
                                    <div class="displayDiv">
                                        @Html.Raw("<p>" + Model.CompanyIntroduction + "</p>")
                                    </div>
                                    <h3>实习内容</h3>
                                    <div class="displayDiv">
                                        @Html.Raw("<p>" + Model.InternIntroduction + "</p>")
                                    </div>
                                            <h3>公司地址</h3>
                                            @Html.Raw("<p>" + Model.CompanyLocation + "</p>")
                                            <h3>负责人</h3>
                                            @Html.Raw("<p>" + Model.PersonInCharge + "</p>")
                                            <h3>联系方式</h3>
                                            @Html.Raw("<p>" + Model.ContactNumber + "</p>")
    }
    else
    {
        <div class="alert alert-info">
            <strong>暂时没有公司信息和实习介绍</strong>
        </div>
    }

}