@model InternshipManagementSystem.Models.Company
<div class="modalOverlay"></div>
@{
    if (Model != null)
    {
        <h3>
            Company Introductin
        </h3>
                                    <div class="displayDiv">
                                        @Html.Raw("<p>" + Model.CompanyIntroduction + "</p>")
                                    </div>
                                    <h3>Internship Plan</h3>
                                    <div class="displayDiv">
                                        @Html.Raw("<p>" + Model.InternIntroduction + "</p>")
                                    </div>
                                    <h3>Company Location</h3>
                                            @Html.Raw("<p>" + Model.CompanyLocation + "</p>")
                                            <h3>Person In Charge</h3>
                                            @Html.Raw("<p>" + Model.PersonInCharge + "</p>")
                                            <h3>Contact Number</h3>
                                            @Html.Raw("<p>" + Model.ContactNumber + "</p>")
    }
    else
    {
        <div class="alert alert-info">
            <strong>No company introduction and internship plan available</strong>
        </div>
    }

}