@model InternshipManagementSystem.Models.GradeViewModel
@{
    ViewBag.Title = "Grades";
}
<br />
<br />
<h2>Grades</h2>
<hr />
@if (Model.Classes.FirstOrDefault() != null)
{
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Class</th>
                <th>Student Name</th>
                <th>Phone Number</th>
                <th>Marks (from teacher)</th>
                <th>Marks (from company)</th>
                <th>Final Grade</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in Model.Classes)
            {
                int rowCounter = 1;
                foreach (var s in c.Students)
                {
                    <tr>
                        @if (rowCounter == 1)
                        {
                            <td rowspan="@c.NumberOfStudents">@c.ClassName</td>
                            rowCounter++;
                        }
                        <td>@s.StudentName</td>
                        <td>@s.PhoneNumber</td>
                        @if (s.TeacherMark == null)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td>@s.TeacherMark</td>
                        }
                        @if (s.CompanyMark == null)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td>@s.CompanyMark</td>
                        }
                        @if (s.CompanyMark != null && s.TeacherMark != null)
                        {
                            int finalMark = s.CompanyMark.Value + s.TeacherMark.Value;
                            <td>@finalMark</td>
                        }
                        else
                        {
                                    <td></td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
}
else {
    <div class="container">
        <div class="alert alert-info">
            <strong>No students grade uploaded</strong>
        </div >
        </div >
        }
