@model InternshipManagementSystem.Models.RegisterCompanyViewModel
@using BotDetect.Web.Mvc;

<div id="registerCompanyPage">
    <br>
@Html.ValidationSummary("", new { @class = "text-danger" })
<div class="form-group">
    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.ContactNumber, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.ContactNumber, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.PersonInCharge, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.PersonInCharge, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.CompanyLocation, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.CompanyLocation, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @{ MvcCaptcha companyCaptcha = new MvcCaptcha("CompanyCaptcha"); }
    @Html.Label("captchar", new { @class = "col-md-2 control-label"})
    <div class="col-md-10">
        @Html.TextBox("CompanyCaptchaCode", null, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        @Html.Captcha(companyCaptcha)
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" class="btn btn-default submitButton" value="Register" />&nbsp;
        <img class="fakeLoader" src="~/Picture/loading.gif" />
    </div>
</div>
</div>
