
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>


    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#registerCompany">Register a company account</a></li>
        <li><a data-toggle="tab" href="#registerTeacher">Register a teacher account</a></li>
    </ul>
    <div class="tab-content">
        <div id="registerCompany" class="tab-pane fade in active">
            @using (Html.BeginForm("RegisterCompany", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.Partial("_CompanyRegister", new InternshipManagementSystem.Models.RegisterCompanyViewModel())
            }
        </div>
        <div id="registerTeacher" class="tab-pane fade">
            @using (Html.BeginForm("RegisterTeacher", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.Partial("_TeacherRegister", new InternshipManagementSystem.Models.RegisterViewModel())
            }
        </div>
    </div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
