@model InternshipManagementSystem.Models.ManageCompaniesViewModel

@using (Html.BeginForm("SortCompanies", "Admin", null, FormMethod.Post, new { @class = "form-horizontal ", role = "form", onsubmit = "companyOrderStartLoading()" }))
{
    @Html.AntiForgeryToken()
    <ul id="sortable" class="list-group">
        @{

            var counter = 0;
            foreach (var company in Model.Companies.OrderBy(c => c.CompanyOrder))
            {
                var modalId = company.CompanyName.Replace(" ", String.Empty) + "Modal";
                modalId = modalId.Replace(".", String.Empty);
                modalId = modalId.Replace("@", String.Empty);
                counter++;
                <li class="list-group-item companyDisplayListItem">
                    <input type="hidden" Value="@company.CompanyName" name="companiesInNewOrder" />
                    <ul class="companyDisplayList">
                        <li class="companyOrderNo"><span>@counter</span></li>
                        <li class="companyName"><span>@company.CompanyName</span>
                        <li class="deleteButton"><a class="glyphicon glyphicon-remove" href="" data-toggle="modal" data-target="#@modalId"></a></li>
                    </ul>
                </li>

            }

        }

    </ul>
    <div>
    Do you want to save your changes?
    <button type="button" class="btn btn-success" onclick="SubmitSortCompanies()">Yes</button>&nbsp;
    <button type="button" class="btn btn-primary" onclick="CancelSortCompanies()">Cancel</button>&nbsp;
    <input id="submitSortCompanies" type="submit" style="display: none;" class="btn btn-default submitButton" value="Submit" />
    <img class="fakeLoader" src="~/Picture/loading.gif" />
</div>
            }
@using (Html.BeginForm("CancelSortingCompanies", "Admin", null, FormMethod.Post, new { @class = "form-horizontal ", role = "form", onsubmit = "companyOrderStartLoading()" }))
            {
    @Html.AntiForgeryToken()
    <input id="cancelSortCompanies" type="submit" style="display: none;" class="btn btn-default submitButton" value="Submit" />
}

@foreach (var company in Model.Companies.OrderBy(c => c.CompanyOrder))
{
    var modalId = company.CompanyName.Replace(" ", String.Empty) + "Modal";
    modalId = modalId.Replace(".", String.Empty);
    modalId = modalId.Replace("@", String.Empty);
    string onStart = "ContractSubmitStartLoading(\"" + modalId + "\")";
    using (Html.BeginForm("DeleteCompany", "Admin", null, FormMethod.Post, new { @class = "form-horizontal ", role = "form", onsubmit = onStart }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" Value="@company.CompanyName" name="companyToBeDeletedName" />
        <div class="modal fade" id="@modalId" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modalOverlay"></div>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">
                            Delete the account of <strong>@company.CompanyName</strong>?
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            Do you really want to delete the account of <strong>@company.CompanyName</strong>?
                        </p>
                        <div class="row">
                            <div class="col-sm-offset-8 col-sm-4 text-center">
                                <input type="submit" class="btn btn-danger" value="Yes" />&nbsp;&nbsp;
                                <butto type="button" class="btn btn-default" data-dismiss="modal">Cancel</butto>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
