@model InternshipManagementSystem.Models.Company

<div class="container">
    @if (Model.Students.Count != 0)
    {
        using (Ajax.BeginForm("MarkStudent", "Company", null, new AjaxOptions { UpdateTargetId = "viewStudentInfo", HttpMethod = "POST", OnSuccess = "StudentMarkEndLoading", OnBegin = "StudentMarkStartLoading" }, new { @class = "form-horizontal ", role = "form" }))
        {
            <div class="tab-content">
                <div id="viewStudentInfo" class="tab-pane fade in active table-responsive">
                    @Html.Partial("_CompanyMarkedStudentInfo", Model)
                </div>
                <div id="markStudent" class="tab-pane fade table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Class</th>
                                <th>Student Name</th>
                                <th>Phone Number</th>
                                <th>Marks (From the Teacher)</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var c in Model.Class_)
                            {
                                int rowCounter = 1;
                                foreach (var s in c.Students)
                                {
                                    <tr>
                                        @if (rowCounter == 1)
                                        {
                                            <td rowspan="@c.NumberOfStudents">@c.ClassName</td>
                                            rowCounter++;
                                        }
                                        <td>@s.StudentName</td>
                                        <td>@s.PhoneNumber</td>
                                        @if (s.CompanyMark != null)
                                        {
                                            <td><input class="form-control" value="@s.CompanyMark" type="number" max="50" min="0" name="companyMark"></td>
                                        }
                                        else
                                        {
                                            <td><input class="form-control" value="" type="number" max="50" min="0" name="companyMark"></td>
                                        }
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
            <div id="markingStudentButtons" class="col-md-offset-2 col-md-10 form-group">
                <span>Assess Students？</span>
                <button id="submitButtonForMarkingStudent" type="button" class="btn btn-primary" data-toggle="tab" href="#markStudent" onclick="MarkNowHandler()">Assess Now</button>
                <input type="submit" class="hiddenButton btn btn-success submitButton" value="Upload" />&nbsp;&nbsp;
                <img class="fakeLoader" src="~/Picture/loading.gif" />&nbsp;&nbsp;
                <button type="button" id="cancelButton" class="hiddenButton btn btn-danger submitButton" data-toggle="tab" href="#viewStudentInfo" onclick="CancelHandler()">Cancel</button>
            </div>
        }
    }
    else
    {
        <span class="alert alert-info">There is no student information available for you now.</span>
    }
</div>
