@model InternshipManagementSystem.Models.Company
<script src="~/Scripts/site.js"></script>
@{
     ViewBag.Title = "Account for" + Model.CompanyName;
}
<br>
<br>
<h2>@ViewBag.Title</h2>
<hr />
<div class="container">
    <h3>公司介绍</h3>
    <hr />
    <div id="companyIntro">
        @Html.Partial("_CompanyIntro", Model)
    </div>
    <p>先要编辑<strong>公司介绍</strong>吗？&nbsp; <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#companyIntroEditor">编辑</button></p>
    <div class="collapse col-md-12" id="companyIntroEditor">
        @using (Ajax.BeginForm("EditCompanyIntro", "Company", null, new AjaxOptions { UpdateTargetId = "companyIntro", HttpMethod = "POST", OnSuccess = "companyIntroEndLoading", OnBegin = "companyIntroStartLoading", OnFailure = "companyIntroFailLoading" }, new { @class = "form-horizontal ", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label for="editCompanyIntro">编辑公司介绍</label>
                @Html.TextAreaFor(m => m.CompanyIntroduction, new { @class = "form-control", rows = "10" })
            </div>
            <div class="col-md-offset-2 col-md-10 form-group">
                <input type="submit" class="btn btn-default submitButton" value="上传" />&nbsp;
                <img class="fakeLoader" src="~/Picture/loading.gif" />
                <span class="alert alert-danger failingAlert">上传失败，请确定您上传的内容不含“&gt;”或“&lt;”</span>
            </div>
        }
    </div>
</div>
<div class="container">
    <h3>实习介绍</h3>
    <hr />
    <div id="internIntro">
        @Html.Partial("_InternIntro", Model)
    </div>
    <p>想要编辑<strong>实习内容介绍</strong>吗 &nbsp; <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#internIntroEditor ">编辑</button></p>
    <div class="collapse col-md-12" id="internIntroEditor">
        @using (Ajax.BeginForm("EditInternIntro", "Company", null, new AjaxOptions { UpdateTargetId = "internIntro", HttpMethod = "POST", OnSuccess = "internIntroEndLoading", OnBegin = "internIntroStartLoading", OnFailure = "internIntroFailLoading" }, new { @class = "form-horizontal ", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label for="editInternIntro">编辑实习内容介绍</label>
                @Html.TextAreaFor(m => m.InternIntroduction, new { @class = "form-control", rows = "10" })
            </div>
            <div class="col-md-offset-2 col-md-10 form-group">
                <input type="submit" class="btn btn-default submitButton" value="上传" />&nbsp;
                <img class="fakeLoader" src="~/Picture/loading.gif" />
                <span class="alert alert-danger failingAlert">上传失败，请确定您上传的内容不含“&gt;”或“&lt;”</span>
            </div>
        }
    </div>
</div>
<div class="container">
    <h3>实习为学生打分</h3>
    <hr />
    @Html.Partial("_CompanyAssessStudents", Model)
</div>
<script>
    var companyIntroEndLoading = function () {
        endLoading("companyIntroEditor");
    }

    var companyIntroStartLoading = function () {
        startLoading("companyIntroEditor");
    }
    var companyIntroFailLoading = function () {
        failLoading("companyIntroEditor");
    }

    var internIntroEndLoading = function () {
        endLoading("internIntroEditor");
    }

    var internIntroStartLoading = function () {
        startLoading("internIntroEditor");
    }

    var internIntroFailLoading = function () {
        failLoading("internIntroEditor");
    }

    var StudentMarkEndLoading = function () {
        endLoading("markingStudentButtons");
        $("#cancelButton").click()
    }

    var StudentMarkStartLoading = function () {
        startLoading("markingStudentButtons");
    }

    function MarkNowHandler() {
        $("#submitButtonForMarkingStudent").hide();
        $(".hiddenButton").show();
    }

    function CancelHandler() {
        $("#submitButtonForMarkingStudent").show();
        $(".hiddenButton").hide();
    }
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


