@model InternshipManagementSystem.Models.ForCompanyViewModel

@{
     ViewBag.Title = "Account for" + Model.CompanyName;
}
<br>
<br>
<h2>@ViewBag.Title</h2>
<hr />
<div class="container">
    <h3>Company Introduction</h3>
    <div id="companyIntro">
        @Html.Partial("_CompanyIntro", Model)
    </div>
    <p>Want to edit your company introduction? Click &nbsp; <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#companyIntroEditor ">Edit company intro</button></p>
    <div class="collapse col-md-12" id="companyIntroEditor">
        @using (Ajax.BeginForm("EditCompanyIntro", "Company", null, new AjaxOptions { UpdateTargetId = "companyIntro", HttpMethod = "POST", OnSuccess = "endLoading", OnBegin = "startLoading" }, new { @class = "form-horizontal ", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div id="companyIntroEditor" class="form-group">
                <label for="editCompanyIntro">Add or change company introduction</label>
                @Html.TextAreaFor(m => m.CompanyIntroduction, new { @class = "form-control", rows = "10" })
            </div>
            <div class="col-md-offset-2 col-md-10 form-group">
                <input type="submit" class="btn btn-default submitButton" value="Submit" />&nbsp;
                <img class="fakeLoader" src="~/Picture/loading.gif" />
            </div>
        }
    </div>
</div>
<script>
    var startLoading = function () {
        $(".fakeLoader").show();
        $(".submitButton").attr("disabled", true);
    }

    var endLoading = function () {
        $(".fakeLoader").hide();
        $(".submitButton").attr("disabled", false);
    }
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


